<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a File</title>
</head>

<body>

    <form action="/add-file" method="POST">
        <input type="file" id="newFile" name="newFile">
        <br>
        <input type="text" name="filename" placeholder="filename">
        <input type="submit">
    </form>

    <a href="/">back home</a>

</body>

</html>