<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Sign In</title>
</head>

<body>
    <form action="/sign-in" method="POST" autocomplete="off">

        <div class="signInField">
            <label for="username">username: </label>
            <input type="text" name="username" value="user1">
        </div>

        <div class="signInField">
            <label for="password">password: </label>
            <input type="text" name="password" value="user1">
        </div>
        <button type="submit"> submit</button>
    </form>

    <a href="/">home</a>
    <a href="/sign-up">create an account</a>
</body>

</html>